@keyframes dashedlink {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }

}
.link {
  &.link-dashed {
    .dashed-item {
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;
        top: calc(50% - 3px / 2);
        transition: ease-in-out all .4s;
        background-color: var(--primary);
      }
    }
    &.active {
      .dashed-item {
        &::after {
          width: 100%;
        }
      }
    }
  }
}